<ion-list class="popover-page">
  <button ion-item (click)="onClearAllEvent($event)">Clear all</button>

  <button ion-item *ngIf="setlist?.permission === 'L'" (click)="onShareEvent($event)">Upload</button>
  <!-- show if permission is not 'L' -->
  <button ion-item *ngIf="setlist?.permission !== 'L'" (click)="onOpenSettingEvent($event)">Setting</button>
  <!-- <button ion-item *ngIf="!setlist?.isOwner && setlist?.permission === 'E'" (click)="onShareEvent($event)">Update</button> -->

  <button ion-item (click)="onDeleteEvent($event)">Delete</button>
</ion-list>
