page-login {

  .login-content {
    background: url('../assets/img/bg.png');
    background-repeat: repeat-x;

    .scroll-content {
      overflow: hidden;
    }
    .logo-img {
      width: 75%;
      margin-bottom: 1px;
    }

    .logo-row {
      padding-top: 30px;
      padding-bottom: 20px;
    }

    .app-title {
      font-size: 3em;
    }

    .app-description {
      display: block;
      font-size: 1.2em;
      color: $color-white;
    }


    .login-box {
      width: 90%;
      max-width: 400px;
      margin: 30px auto 0;

      .login-input-label {
        text-align: left;
        color: $color-white;
        margin-bottom: 0;
      }

      .login-input {
        color: $font-black;
        background: transparent;

        input {
          margin-top: 0;
        }
      }
    }

    ion-item, .item-inner, .input-wrapper {
      background: transparent;
      background-color: transparent;
    }

    ion-item {
      padding-left: 0;
      border-bottom: 1px solid $color-white !important;
    }

    ion-row {
      text-align: center;
    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .submit-btn {
      background: $color-white;
      color: $font-black;
    }

    .forgot-btn {
      color: $color-white;
    }
  }

  .register-btn {
    color: #ffffff;
    font-size: 1.1em;

    .register-btn-inner-description {
      margin-right: 5px;
    }

    .register-btn-inner-content {
      text-decoration: underline;
      font-weight: 500;
    }

    .button-inner {
      color: $color-white;
    }
  }

  ion-footer {
    height: 10%;
  }

  ion-footer ion-toolbar {
    height: 100%;

    & > .toolbar-background {
      background: $theme-blue;
    }
  }
}
