page-forgot-password {
  ion-content {
    background: url('../assets/img/bg.png');
    background-repeat: repeat-x;
  }

  ion-header .toolbar-background {
    background: transparent !important;
  }

  #resetForm {
    margin-top: 10%;
  }
  .reset-description {
    color: $color-white;
    font-size: 20px;
    font-weight: 700;
  }

  .reset-input {
    margin-top: 10px;
  }

  .submit-btn-wrap {
    margin-top: 30px;

    .submit-btn {
      // background: $color-white;
      // color: $font-black;
    }
  }

}
