page-song-details {
  .chord-area {
    overflow: visible;
    padding-top: 10px;
    // font-size: 18px !important;
    // line-height: 18px !important;
  }

  chord-area > span {
    font-size: 18px;
    font-weight: 500;
  }

  .chord {
    color: $theme-dark-dark-green;
  }

  .non-chord {
    margin-bottom: 10px
  }

  .fab {
    contain: layout;
  }

  button[ion-fab] {
    overflow: visible;
    position: relative;

    ion-label {
      position: absolute;
      top: -8px;
      right: 40px;

      color: white;
      background-color: rgba(0,0,0,0.7);
      line-height: 24px;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }
}

