page-song-details {

  .up-down-container {
    margin-bottom: 20px;
    .up-down-btn {
      width: 80px;
      height: 30px;
      font-size: 16px;
      color: $font-black;
    }
  }

  .chord-area {
    overflow: visible;
    padding-top: 10px;
    // font-size: 18px !important;
    // line-height: 18px !important;
  }

  chord-area > span {
    font-size: 18px;
    font-weight: 500;
  }

  .chord {
    color: $theme-dark-dark-green;
  }

  .non-chord {
    margin-bottom: 10px
  }

  .fab {
    contain: layout;

    ion-icon {
      font-weight: 800;
    }
  }

  button[ion-fab] {
    overflow: visible;
    position: relative;

    ion-label {
      position: absolute;
      top: -8px;
      right: 40px;

      color: white;
      background-color: rgba(0,0,0,0.6);
      line-height: 24px;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }
}

