<ion-header>

  <ion-navbar>
    <ion-title>{{ song?.title }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding id="song-detail-ion-content">
    <sticky-note *ngFor="let note of song?.notes; let i = index" [note]="note" (noteChange)="onNoteChange($event, i)" [offsetTop]="offsetTop"></sticky-note>
    <div *ngIf="song" (swipe)="changeSong($event)">
      <ng2-chord-transpose [style.font-size.px]="fontSize" [style.line-height.px]="fontSize" [chordSections]='song?.sections' [key]='song?.currentKey' showUpDown="false"></ng2-chord-transpose>
    </div>
    <ion-fab right bottom>
      <button ion-fab color="light"><ion-icon name="add"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab (click)="addNewNote(0)"><span>Yellow</span></button>
        <button ion-fab (click)="addNewNote(1)"><span>Blue</span></button>
        <button ion-fab (click)="addNewNote(2)"><span>Purple</span></button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
