<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ song?.title }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding id="song-detail-ion-content">
    <sticky-note *ngFor="let note of song?.notes; let i = index" [note]="note" (noteChange)="onNoteChange($event, i)" [offsetTop]="offsetTop"></sticky-note>
    <div *ngIf="song" (swipe)="changeSong($event)">
      <ng2-chord-transpose [style.font-size.px]="fontSize" [style.line-height.px]="fontSize" [chordSections]='song?.sections' [key]='song?.currentKey' showUpDown="false"></ng2-chord-transpose>
    </div>
    <ion-fab right bottom>
      <button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
      <ion-fab-list side="top" color="primary">
        <button ion-fab *ngFor="let fab of fabsMetaData; let i = index" (click)="addNewNote(fab)">
          <ion-icon name="document"></ion-icon>
          <ion-label>{{fab}}</ion-label>
        </button>
        <button ion-fab (click)="addNewNote('')">
          <ion-icon name="add"></ion-icon>
          <ion-label>Custom</ion-label>
        </button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
