page-song-details {

  .chord-area-wrapper {
    margin-left: 4%;
  }

  .up-down-container {
    margin-top: 25px;
    margin-bottom: 45px;

    .up-down-btn {
      width: 80px;
      height: 30px;
      font-size: 16px;
      color: $font-black;
      background-color: #ddd;
      margin-right: 10px;
    }
  }

  .chord-area {
    overflow: visible;
    padding-top: 10px;
  }

  chord-area > span {
    font-size: 18px;
    font-weight: 500;
    color: $theme-blue;
  }

  .chord {
    color: $theme-dark-dark-green;
  }

  .non-chord {
    margin-bottom: 10px;
    color: $font-black;
  }

  .fab {
    contain: layout;

    ion-icon {
      font-weight: 800;
    }
  }

  button[ion-fab] {
    overflow: visible;
    position: relative;

    ion-label {
      position: absolute;
      top: -8px;
      right: 40px;

      color: white;
      background-color: rgba(0,0,0,0.6);
      line-height: 24px;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }

  .more-icon {
    color: $color-white;
  }
}

