page-song-details {
  .chord-area {
    overflow: visible;
    // font-size: 18px !important;
    // line-height: 18px !important;
  }

  chord-area > span {
    font-size: 18px;
  }

  .chord {
    color: blue;
  }
}
