<ion-header>
  <ion-navbar class="bm-navbar" color="primary">
    <ion-title>Setlist</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentNewsetlistPopover($event)">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="setlistRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list reorder="true" (ionItemReorder)="reorderSetlists($event)">
    <ion-item-sliding #slidingItem class="setlist-list-item" *ngFor="let setlist of setlists; let i = index">
      <button class="setlist-item" ion-item (click)="gotToSetlist(setlist, i)">
        <h2>{{ setlist.title }}</h2>
      </button>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeSetList(i, slidingItem)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item *ngIf="setlists?.length === 0">
      <h2 text-center>You have no setlist yet!</h2>
      <p text-center>Please create one or pull to fetch your setlist from the server!</p>
    </ion-item>
  </ion-list>
</ion-content>
