sticky-note {
  .note {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: #FAED7E;
    border: 1px solid #333;
    padding: 5px;
    overflow: hidden;
    -webkit-user-select: text;
    user-select: text;
    opacity: 0.7;
    border-radius: 5px;
    z-index: 0;

    &.editMode {
      z-index: 300;
    }

  }

  .resize-handle {
    position: absolute;
    bottom: -3px;
    right: 0px;
    width: 15px;
    height: 15px;
  }

  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border: none;
    box-shadow: none;
  }

  .note-item {
    height: 100%;
    background-color: transparent;
    padding: 0;

    .note-textarea {
      width: 100%;
      height: 100%;

      textarea {
        height: 90%;
        resize: none;
        margin: 0;
        width: 100%;
        font-size: 1.2em;
        color: #333;

        &[readonly] {
          cursor: pointer;
          color: #111;
          opacity: 1;
      }
      }
    }

  }

  input {
    width: 100%;
    outline: none;
    box-sizing: border-box;
  }

  .note-content {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .edit-wrapper {
    position: absolute;
    // top: 0;
    // left: 0;
    // width: 0;
    // height: 0;
    // background-color: rgba(40, 40, 40, 0.3);
    z-index: 30;
  }

  .edit-content {
    // position: absolute;
    // position: relative;
    // top: 0;
    // right: -200px;
    display: inline-block;
    // position: relative;

    button {
      display: inline-block;
      background: transparent;
      font-size: 16px;
      font-weight: 500;
      // background-color: rgba(40, 40, 40, 0.1);

      &.note-edit-btn {
        color: $theme-dark-dark-green;
      }

      &.note-remove-btn {
        color: map-get($colors, danger);
      }

      &.note-done-btn {
        color: $theme-dark-dark-green;
      }
    }
  }
}
