sticky-note {
  .note {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: #FFFACD;
    border: 1px solid #333;
    padding: 5px;
    overflow: hidden;
    -webkit-user-select: text;
    user-select: text;
    opacity: 0.8;
  }

  .resize-handle {
    position: absolute;
    bottom: -3px;
    right: 0px;
    width: 20px;
    height: 20px;
  }

  .note-textarea {
    width: 100%;
    height: 100%;

    textarea {
      height: 90%;
      resize: none;
      margin: 0;
      width: 100%;
    }
  }

  input {
    width: 100%;
    outline: none;
    box-sizing: border-box;
  }
}
