// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/robotoslab.woff2") format('woff2');
}

body {
  color: $font-black;
}

.song-item p {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0 !important;

  &:first-child {
    border-right: 1px solid #8e9093;
  }
}

#song-detail-ion-content .scroll-content {
  overflow-y: scroll;
}

#song-detail-ion-content.pan .scroll-content {
  overflow-y: hidden;
}


/*** Nav bar ***/
.tabs .tabbar {
  background-color: map-get($colors, primary);;

  .tab-button .tab-button-text {
    color: #f4f4f4;
    font-weight: 700;
    font-size: 14px;
  }

  .tab-button .tab-button-icon {
    color: #f4f4f4;
    font-weight: 900;
  }
}

.bm-navbar {
  .toolbar-title {
    color: #f4f4f4;
  }

  .toolbar-background {
    background: url('../assets/img/nav_bg.png');
    background-repeat: repeat-x;
  }
}

// song-list item
.song-list-item {
  &:nth-child(even) .song-item {
    background: $theme-gray;
  }
}
