<ion-header>

  <ion-navbar color="primary">
    <ion-title>Playlist</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="searchSongs($event)"></ion-searchbar>
  <ion-list reorder="true" (ionItemReorder)="reorderSongs($event)">
    <ion-item-sliding #slidingItem *ngFor="let song of filteredList; let i = index">
      <button class="song-item" ion-item (click)="goToSong(song, i)">
        <h2>{{ song.title }}</h2>
        <p>{{ song.artist || 'N/A'}} </p><p>|</p> <p> {{ song.tempo || 'N/A' }} BPM</p>
      </button>

      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeFromPlaylist(i, slidingItem)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item *ngIf="playlist?.length === 0">
      <h2 text-center>The playlist is empty. Go add some song to playlist!</h2>
    </ion-item>
  </ion-list>
</ion-content>
